@import '//at.alicdn.com/t/font_435259_p9sezgunlys0pb9.css';
.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover {
  color: #08c;
}
.icon-backtotop {
  font-size: 3em;
}
.icon-tag,
.icon-category {
  font-size: 1.3em;
}
.icon-detail {
  font-size: 1em;
}
.icon-post {
  font-size: 1em;
}
.icon-left,
.icon-right {
  font-size: 0.9em;
}
.icon-date {
  font-size: 0.9em;
}
.icon-open,
.icon-close {
  font-size: 0.8em;
}
.icon-article {
  font-size: 0.9em;
  padding: 0.1em;
}
.icon-github:hover {
  color: #0077b3;
}
.icon-zhihu:hover {
  color: #0077b3;
}
.icon-weibo:hover {
  color: #0077b3;
}
.icon-facebook:hover {
  color: #0077b3;
}
.icon-twitter:hover {
  color: #0077b3;
}
.icon-instagram:hover {
  color: #0077b3;
}
.icon-linkedin:hover {
  color: #0077b3;
}
.icon-segmentfault:hover {
  color: #0077b3;
}
.icon-others:hover {
  color: #0077b3;
}
.block,
.archive,
.widget {
  heigth: auto;
  margin: 1.4em auto;
  padding: 1.4em 0.6em;
  background: #fff;
  border-radius: 10px;
}
.tag a,
.small-tag a,
.tag-item {
  padding: 0.4em;
  margin: 0.2em 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  display: inline-block;
}
.recent-posts-item,
.categories-item {
  border-radius: 10px;
}
img {
  border-radius: 5px;
}
.clearfix():before,
.clearfix():after {
  content: " ";
  display: table;
}
.clearfix():after {
  clear: both;
}
body {
  width: 100%;
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 16px;
  color: #4d4d4c;
  background: #eee;
  line-height: 0.9;
}
blockquote {
  border-left: 3px solid #7aa6da;
  padding-left: 0.5em;
}
pre,
code {
  font-family: 'consolas';
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: $code-foreground;
  background: $code-background;
  border-radius: $code-border-radius;
  font-size: 16px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 10px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eee;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}
.highlight .line {
  height: 20px;
  border: none;
}
.highlight .marked {
  background-color: #c4c4c4;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #c397d8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #e24c38;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #e78c45;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #360;
}
pre .title,
pre .css .hexcolor {
  color: #70c0b1;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #7aa6da;
}
pre .keyword,
pre .javascript .function {
  color: #e24c38;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #f5f6fa;
  line-height: 0.9;
  margin: 0;
  padding: 0;
  font: 15px '微软雅黑', 'sans serif';
  font-weight: 400;
}
h1 {
  font-size: 1.4em;
  font-weight: 600;
}
h2 {
  font-size: 1.2em;
  font-weight: 500;
}
h3 {
  font-size: 1.1em;
  font-weight: 500;
}
h4 {
  font-size: 1em;
  font-weight: 500;
}
h5,
h6 {
  font-size: 0.9em;
  font-weight: 500;
}
.ul,
.li {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  display: inline;
}
a {
  text-decoration: none;
}
a:hover {
  color: #08c;
}
a:link {
  color: #808080;
}
a:visited {
  color: #808080;
}
img {
  width: 100%;
  height: auto;
}
img:hover {
  opacity: 0.8;
}
::selection {
  background: #0ac;
  color: #fff;
}
.container {
  margin: 0 auto;
  margin-top: 2em;
}
@media screen and (min-width: 768px) {
  .container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 70%;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.inline {
  display: inline;
}
.center {
  text-align: center;
}
.back-to-top {
  padding: 0.1em;
  color: #333;
  display: none;
  position: fixed;
  cursor: pointer;
  opacity: 0.8;
  z-index: 5;
  bottom: 10%;
  left: 90%;
}
@media screen and (max-width: 479px) {
  .back-to-top {
    display: none;
  }
}
.back-to-top:hover {
  color: #08c;
  border: 1px solid #aaa;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  #container {
    display: inline;
    float: left;
    width: 107.27272727272728%;
    margin: 0 0.909090909090909%;
  }
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 70.9090909090909%;
    margin: 0 0.909090909090909%;
  }
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 25.454545454545453%;
    margin: 0 0.909090909090909%;
  }
}
#post {
  position: relative;
  width: 70%;
}
@media screen and (min-width: 768px) {
  #main {
    float: right;
  }
}
#toc {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #bfbfbf;
}
/*轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}
/*滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
.site-header {
  padding: remify(40px) 0;
  border-bottom: 1px solid $theme-seperator;
  margin-bottom: remify(30px);
}
.site-header.header-background {
  border-bottom: 0;
  background-color: #808080;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.site-header .page-title {
  color: $theme-color;
  text-align: center;
  text-shadow: 1px 1px 2px $color-black;
}
.site-header .page-title.with-background-image {
  color: $color-white;
  padding: remify(50px) 0;
}
.site-header .page-title .title {
  font-size: remify(36px);
}
.site-menu {
  text-align: center;
  margin-top: remify(10px);
  text-shadow: 3px 3px 3px $color-black;
}
.site-menu ul {
  margin: 0 auto;
  padding: 0;
}
.site-menu ul > li {
  display: inline-block;
  margin-right: remify(10px);
}
.site-menu ul > li:last-child {
  margin-right: 0;
}
.site-menu ul > li > a {
  padding: remify(3px) remify(10px);
  border-radius: remify(2px);
}
.site-menu.with-background-image a {
  color: $color-white;
}
@media only screen and (max-width: 414px) {
  .site-header .page-title.with-background-image {
    padding: remify(30px) 0;
  }
  .site-header .page-title .title {
    font-size: remify(22px);
  }
  .site-menu {
    font-size: remify(16px);
  }
  .site-menu ul li {
    margin-right: 0;
  }
  .site-menu ul li > a {
    padding: remify(3px) remify(6px);
  }
}
footer {
  padding: remify(35px) 0;
  border-top: 1px solid $theme-seperator;
  font-size: remify(12px);
  text-align: center;
}
.post {
  margin: 0 auto;
  overflow: hidden;
}
.post-content {
  padding-top: 0.4em;
  margin: 0 auto;
}
.post-head {
  margin: 2em 0;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #f0f0f0;
}
.post-title {
  font-size: 1.8em;
}
.post-time {
  width: 100%;
  margin: 2em 0.5em;
  font-size: 1rem;
  opacity: 0.5;
}
.post-meta {
  margin: 2em 0.5em;
}
.bottom-nav {
  margin: 0 auto;
  padding: 2em 0;
  font-size: 1.2em;
  clear: both;
  border-bottom: 3px solid #f0f0f0;
}
.bottom-link {
  font-size: 1em;
}
.bottom-link:hover {
  color: #08c;
}
.bottom-link-title {
  font-size: 0.9em;
  overflow: hidden;
}
.bottom-widget {
  padding: 3em 0;
  text-align: center;
}
.bottom-widget-title {
  font-size: 1em;
  margin-bottom: 1em;
}
.archive {
  clear: both;
}
.archive-year {
  font-size: 1.2em;
  clear: both;
  opacity: 0.9;
}
.archive-item {
  font-size: 1em;
  clear: both;
  overflow: hidden;
  margin: 1em 1.8em;
}
.archive-item:hover {
  margin-left: 2.4em;
  color: #08c;
}
.archive-date {
  font-size: 1em;
  opacity: 0.5;
}
.archive-title {
  margin-left: 1.2em;
  font-size: 1em;
}
.archive-title:hover {
  color: #08c;
}
.post-tags,
.post-info {
  font-size: remify(14px);
  font-style: italic;
  text-align: center;
}
.post-info {
  margin-bottom: remify(5px);
}
.post-info .info {
  padding: 0 remify(8px);
  border-right: 1px dotted $theme-dotted-seperator;
}
.post-info .info:last-child {
  border-right: none;
}
.post-info .categories a {
  padding: remify(2px) remify(4px);
  border-radius: remify(2px);
}
.post-tags {
  font-style: italic;
}
.post-tags > a {
  display: inline-block;
  padding: 0 remify(4px);
  margin-right: remify(2px);
  border-radius: remify(2px);
}
.post-content {
  padding-top: remify(40px);
  padding-bottom: remify(40px);
  font-size: remify(15px);
}
@media only screen and (max-width: 414px) {
  .post-tags,
  .post-info {
    font-size: remify(12px);
  }
  .post-tags .info,
  .post-info .info {
    padding: 0 remify(5px);
  }
  .post-tags .time,
  .post-info .time {
    display: none;
  }
  .post-content {
    font-size: remify(12.5px);
  }
}
.paginator {
  margin: 1em 0;
  font-size: 1rem;
}
.prev,
.next,
.page-number {
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid #bfbfbf;
  border-radius: 6px;
}
.prev:hover,
.next:hover,
.page-number:hover {
  border: 1px solid #08c;
}
.current {
  color: #08c;
}
.category-item {
  overflow: hidden;
  margin: 2em;
}
.category-name:hover {
  margin-left: 0.9em;
}
.category-posts {
  display: none;
}
.category-posts li {
  display: block;
  margin: 1em;
}
.category-posts li:hover {
  margin-left: 0.2em;
}
.category-posts a {
  padding-left: 0.9em;
}
.tag a {
  font-size: 0.5em;
}
.small-tag a {
  font-size: 0.9em;
}
.tag a:hover,
.small-tag a:hover {
  color: #08c;
  border: 1.2px solid #08c;
}
.toc {
  color: #808080;
  overflow: hddien;
  position: absolute;
  top: 0%;
  left: 87%;
  width: 28%;
}
.toc-container {
  margin: auto 0;
  height: 100%;
  width: auto;
}
.contents {
  display: block;
  padding: 0.2em;
  font-size: 1.1em;
  cursor: pointer;
}
.toc-list {
  list-style-type: none;
  display: inline-block;
  margin-top: 1em;
  margin-left: 0;
  padding: 0;
}
.toc-item {
  display: block;
  font-size: 1em;
  font-weight: 500;
}
.toc-item:hover {
  cursor: pointer;
  color: #08c;
  margin-left: 0.3em;
}
.toc-subitem {
  display: block;
  font-size: 0.9em;
  color: #bfbfbf;
  margin-left: 0.6em;
  font-weight: 500;
}
.toc-subitem:hover {
  cursor: pointer;
  color: #08c;
  margin-left: 0.8em;
}
.toc-fixed {
  position: fixed;
  top: 0;
}
.widget {
  text-align: center;
  padding-bottom: 1em;
  overflow: hidden;
}
.widget-title {
  color: #bfbfbf;
}
.widget-title:hover {
  color: #08c;
}
#personal-card {
  text-align: center;
  padding: 0.8em;
}
#descrption {
  color: #808080;
}
#avatar {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 80%;
}
#location {
  display: block;
  font-size: 12px;
  color: #aaa;
}
#count {
  overflow: hidden;
}
#count div {
  text-align: center;
  width: 50%;
  float: left;
}
.count-item:hover {
  color: #08c;
}
.recent-posts-item {
  display: block;
  margin: 0.8em 0;
  overflow: hidden;
  padding: 0.1em;
}
.recent-posts-item:hover {
  background: #ededed;
  color: #08c;
}
.categories-item {
  clear: both;
  display: block;
  margin: 0.1em 0.2em;
  padding: 0.2em;
  overflow: hidden;
}
.categories-item:hover {
  background: #ededed;
  color: #08c;
}
.categories-count {
  border-bottom: 1px solid #848484;
}
.tag-item {
  border: 1px solid #aaa;
  padding: 0 10px;
  margin-bottom: 0.3em;
}
.tag-item:hover {
  color: #08c;
  border: 1px solid #08c;
}
.link-item {
  font-size: 0.9em;
  border-radius: 10px;
}
.link-item:hover {
  background: #ededed;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
  }
}
.slideUp {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
.slideDown {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.slideLIn {
  -webkit-animation-name: slideLIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.slideRIn {
  -webkit-animation-name: slideRIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-o-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-moz-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideLIn {
  0% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideRIn {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideRIn {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 479px) {
  .header {
    width: 100%;
  }
  .header-nav {
    width: 100%;
    height: auto;
    padding: 0.2em 0;
    display: block;
    text-align: center;
  }
  .header-logo {
    display: none;
  }
  .header-menu {
    width: 100%;
    margin: 0.6em 0;
    padding: 0.1em 0;
    display: flex;
    flex-wrap: wrap;
  }
  .header-menu-link {
    display: block;
    line-height: 2em;
    height: 50%;
  }
  .article-top-title {
    font-size: 1rem;
    overflow: hidden;
  }
  .article-top-date {
    font-size: 1rem;
  }
  .meta {
    width: 100%;
  }
  .container,
  #main {
    clear: both;
    width: 98%;
    margin-top: 1em;
    padding: 0 0.2em;
  }
  #sidebar {
    margin-top: 1em;
    clear: both;
  }
  #post {
    width: 100%;
  }
  .post-card,
  .excerpt,
  .bottom {
    width: 100%;
    padding-bottom: 0.2em;
  }
  .widget,
  .links {
    display: none;
  }
  .profile {
    display: block;
    width: 88%;
    margin-top: 2rem;
  }
  .post-content {
    width: 100%;
  }
  .highlight {
    width: 100%;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 100%;
  }
  .toc {
    display: none;
  }
  .back-to-top {
    left: 80%;
    bottom: 10%;
  }
  .prev,
  .next {
    font-size: 1rem;
  }
}
